# fly.toml app configuration file generated for blockster-v2
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blockster-v2'
primary_region = 'ord'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'blockster.com'
  PORT = '8080'
  DNS_CLUSTER_QUERY = 'blockster-v2.internal'

[mounts]
  source = 'mnesia_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = 'performance-2x'
  memory = '4gb'
  cpus = 2
