<div id={"category-page-#{@category_slug}"} class="category-page bg-[#F5F6FB]">
  <div id="category-components" phx-update="stream" phx-hook="InfiniteScroll">
    <%= for {dom_id, comp} <- @streams.components do %>
      <div id={dom_id}>
        <.live_component
          module={comp.module}
          id={comp.id}
          posts={comp.posts}
          content={comp.content}
          type={comp.type}
          show_read_more={false}
        />
      </div>
    <% end %>
  </div>
</div>
