<.live_component
  module={BlocksterV2Web.PostLive.FormComponent}
  id={@post.id || :new}
  title={@page_title}
  action={@live_action}
  post={@post}
  form={@form}
  authors={@authors}
  current_user={@current_user}
/>
